<section>
  <h1>Andy Lind</h1>
  <p>
    <img src="/images/andrew-lind.jpg" width="165px" style="margin-top:7px">
  </p>
  <p>
      I'm a software engineer writing code in many different languages. These are my thoughts on programming and agile software development.
  </p>
  <a title="Subscribe via RSS" rel="subscribe-rss" href="atom.xml">Subscribe via RSS</a>
  <br></br>
  <a title="Blog Archives" rel="blog-archives" href="/blog/archives/">Blog Archives</a>
  <br></br>
  <span>Contact:</span>
  <span style="color:#666666">andy.lind.dev+contact@gmail.com</span>
</section>

