@font-face {
  font-family: 'Allan';
  font-style: normal;
  font-weight: 700;
  src: local('Allan Bold'), local('Allan-Bold'), url(http://themes.googleusercontent.com/static/fonts/allan/v4/HDuJMALbbJ3Ny_JtXeABSfesZW2xOQ-xsNqO47m55DA.woff) format('woff');
}
