// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much


html { background: none; }

body { font-size: 1em; }


/* ----- header ----- */

body > header{
  background: #ffffff;
  padding-top: 0px; 
}

body > header div{
  width:100%;
  background: none;
}

body > header div.title-text{

  padding-bottom: 25px;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

body > header a:visited,
body > header a:hover,
body > header a{
  color: #333;
  text-decoration: none;
  font-style: none;
  font-size:1.6em;
  font-weight:normal;
  text-align: center;
  width:100%;
}

body > header a:hover{
  color: #666;
}

body > header div img{
  font-weight: bold;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 15px;
}

body > #main{
  border: none;
}

#content > div, body > div > div, body.sidebar-footer aside.sidebar {
    background: #ffffff;
}

body > div, body > div > div {
    background: #ffffff;
    border-right: none;
}

#content > div, body > div > div, body.sidebar-footer aside.sidebar {
  background: none;
}

.entry-title a {
  color: #333333;
  font-weight: bold;
  font-size: 0.9em;
}

h1.entry-title {
  color: #333333;
  font-weight: bold;
  font-size: 2em;
}

.name-link {
  color: #AAAAAA;
  text-decoration:none;
}

.name-link:hover {
  color: #AAAAAA;
    text-decoration:underline;
}

.name-link:visited {
  color: #AAAAAA;
}

#content aside.sidebar {
  border-top: 0px;
}

